* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Marathon;
    
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: rgb(235, 235, 235);
}

@font-face {
    font-family: 'Marathon';
    src: url('./first-font/Marathon.woff2') format('woff2'),
        url('./first-font/Marathon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
    --txt-color: #be0000;
    --txt-color-2: #1f1202fa;
    --txt-shadow: 5px 5px #0000;
}

.container {
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    transition: all 1s;
}
.section {
    position: relative;
    height: 100lvh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    flex-direction: column;
}
.section-1{
    background:url('./home-page.png');
    background-size: cover;
    background-position: center;

}
.section-2,
.section-3{
    background:url('./Cream\ Vintage\ Coffee\ Shop\ Menu\ Instagram\ Story\ \(1\).png');

}

h1 {
    font-family: Marathon;
    font-size: 30px;
    color: var(--txt-color-2);
    text-shadow: var(--txt-shadow);

}
p{
     font-family: Marathon;
     padding: 0 40px;
     
}
p span{
    
    font-family: Marathon;
    font-size: 25px;
    color: var(--txt-color-2);
}
.nav{
 margin-top: 50px;
display: flex;
column-gap: 20px;
}
.nav a{
   color: var(--txt-color-2);
}
.logo{
    position: absolute;
    bottom: 10%;
    border-bottom: 1px solid var(--txt-color-2);
    padding: 10px;
}

.days ,
.hours,
.minutes,
.seconds{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
#days,
#hours,
#minutes,
#seconds{
    font-size: 100px;
}

