@font-face {
    font-family: 'Marathon II';
    src: url('MarathonII.woff2') format('woff2'),
        url('MarathonII.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marathon';
    src: url('Marathon.woff2') format('woff2'),
        url('Marathon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

